<ion-tabs (ionTabsDidChange)="onTabChange($any($event))">
  <ion-tab-bar slot="bottom" [class.home-tab]="currentTab === 'home'">
    <ion-tab-button tab="home">
      <span class="mat-icon">home</span>
    </ion-tab-button>
    <ion-tab-button tab="residents">
      <!-- diario -->
      <span class="mat-icon">view_timeline</span>
    </ion-tab-button>
    <ion-tab-button tab="data">
      <!-- tareas -->
      <span class="mat-icon">checklist</span>
    </ion-tab-button>
    <ion-tab-button tab="measures">
      <!-- toma de datos -->
      <span class="mat-icon">stacked_line_chart</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
