@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat/Montserrat/Montserrat-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Material Icons Sharp';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/material-icons-outlined-v110-latin-regular.woff2') format('opentype');
}
