// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root.light {
 
    // --ion-background-color: radial-gradient(
    //   circle at top left,       
    //   #051937 0%,     
    //   #004d7a 50%,        
    //   #008793 100%      
    // );
  
  
    // --ion-text-color: #ffffff; 
    // --ion-text-color-rgb: 255, 255, 255; 

    --ion-background-color: #ffffff;
    --ion-background-color-rgb: 255,255,255;
    --ion-text-color: #000000;
    --ion-text-color-rgb: 0,0,0;
    --ion-content-background: var(--ion-background-color);
  
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56,128,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
    
  
  }

  .dark {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;
    --ion-content-background: var(--ion-background-color);
  
    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    
    --ion-color-primary: #528cff;
    --ion-color-primary-rgb: 82,140,255;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-shade: #487be0;
    --ion-color-primary-tint: #6398ff;
  }