:host {
  --ion-color-light: var(--ion-text-color-home);
  --ion-toolbar-color: var(--text-color-secondaray);
  background: linear-gradient(-40deg, #dbe9f7 0%, #dbe9f7 60%, #ffff 100%) !important;
}

.container {
  padding: 24px;
}
