:host {
  display: block;
  height: calc(100vh - 50px);
  --ion-text-color: var(--ion-text-color-home);
  background-image: url('../../assets/lines-header.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
ion-button[color='outlined']::part(native) {
  background: transparent !important;
  color: var(--text-color-secondaray) !important;
  border-radius: 6px;
  color: var(--ion-text-color-home) !important;
}
ion-card {
  background: #6460ed !important;
  box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.2) !important;
  margin: 0;
  padding: 16px;
  button {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;

    width: 100%;
  }
}

ion-content {
  --padding-bottom: 28px;
  --padding-top: 28px;
  --padding-start: 28px;
  --padding-end: 28px;
}

.greet {
  margin-bottom: 2em;
  &__title-name {
    font-size: 34px;
    font-weight: 700;
  }
  &__title-date {
    margin-top: 8px;
    font-size: 18px;
  }
}

.list-cards {
  margin-top: 2em;
  &__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 32px;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

.icon-card {
  color: var(--ion-text-color-home);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  flex-direction: column;
  .mat-icon {
    font-size: 40px;
    margin-bottom: 12px;
  }
}
.icon-card-title {
  color: var(--ion-text-color-home);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

ion-modal#residences-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#residences-modal ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;

  color: #aaaaaa;
}

ion-modal#residences-modal .wrapper {
  margin-bottom: 10px;
  background: #6460ed;
}
