<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="outlined">
        <span class="mat-icon">clear_all</span>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="outlined">
        <span class="mat-icon">account_circle</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="greet">
    <div class="greet__title-name">Hola Joel</div>
    <div class="greet__title-date">2025-09-30</div>
  </div>
  <ion-card>
    <button class="icon-card" [routerLink]="'/select-residences'">
      <span class="mat-icon">maps_home_work</span>
      <div class="icon-card-title">Residencias</div>
    </button>
  </ion-card>
  <div class="list-cards">
    <div class="list-cards__title">Acciones</div>
    <div class="list-cards__content">
      <ion-card>
        <button class="icon-card">
          <span class="mat-icon">view_day</span>

          <div class="icon-card-title">Medidas diarias</div>
        </button>
      </ion-card>
      <ion-card>
        <button class="icon-card">
          <span class="mat-icon">diversity_1</span>

          <div class="icon-card-title">Residentes</div>
        </button>
      </ion-card>
      <ion-card>
        <button class="icon-card">
          <span class="mat-icon">fact_check</span>

          <div class="icon-card-title">Tareas</div>
        </button>
      </ion-card>
      <ion-card>
        <button class="icon-card">
          <span class="mat-icon">stacked_line_chart</span>
          <div class="icon-card-title">Toma de datos</div>
        </button>
      </ion-card>
    </div>
  </div>
  <div class="list-cards">
    <div class="list-cards__title">Equipos</div>
  </div>
  <ion-card class="m-b-16">
    <button class="icon-card">
      <span class="mat-icon">connect_without_contact</span>
      <div class="icon-card-title">Dispositivos</div>
    </button>
  </ion-card>
</ion-content>
